<form action="/addRecord" method="post">
    <input type="text" placeholder="type" name="type">
    <input type="text" placeholder="gender" name="gender">
    <input type="number" name="age" placeholder="age">
    <input type="number" name="timeSpent" placeholder="timeSpent">
    <input type="number" name="arrivedAt" placeholder="arrivedAt">
    <input type="submit" value="Add Record">

    
</form>